<div class="dashboard-container">
  <div id="one">
    <h2 >Dashboard</h2>
  </div>
  <div class="logout-btn">
    <button class="logout" (click)="logout()"> Logout</button>
  </div>
  
  <br>
  <cdk-virtual-scroll-viewport [itemSize]="20">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>ThumbNail</th>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <br>
      <tbody>
        <tr *cdkVirtualFor="let val of dataSource">
          <td>{{val.albumId}}</td>
          <td>
            <img src="{{val.thumbnailUrl}}" width="100" height="100" />
          </td>
          <td>
            {{val.title |titlecase}}
          </td>
          <td>
            <button (click)="deleteData(val.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>